
.banner__pages{
  padding: 0px;
}

.card-deck{
  &:hover {
    transform: scale(1.05);
  }
}

.feature-card {
  position: relative;

  svg {
    color: $primary-color;
    fill: $primary-color;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: inherit;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  &--section {
    @extend .feature-card;
    min-height: 450px;
    margin: 0 5px;
  }
}

.grayscale{
  filter: grayscale(100%);
}

.bg-gray{
  background: #f7f8f8;
}

.letterRodri{
  color: #0e1e25;
  font-size: 1.375em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.bigSectionImage{
  object-fit: cover;
  height: 200px;

}

.bg-green-100{
  background-color: #d1e7dd; // $green-100 dont work some reason
}
// Animations

.fade-in{animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
/* ----------------------------------------------
 * Generated by Animista on 2021-1-25 16:41:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes fade-in{0%{opacity:0}100%{opacity:1}}

 .slide-in-right{animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both}

 /* ----------------------------------------------
 * Generated by Animista on 2021-1-25 16:45:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

.slide-in-bottom{animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-25 16:45:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes slide-in-bottom{0%{transform:translateY(1000px);opacity:0}100%{transform:translateY(0);opacity:1}}