
.banner__pages{
  padding: 0px;
}

.feature-card {
    svg {
      color: $primary-color;
      fill: $primary-color;
      display: inline-block;
    }
  }

.grayscale{
  filter: grayscale(100%);
}

.gray{
  background: #f7f8f8;
}

.letterRodri{
  color: #0e1e25;
  font-size: 1.375em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}