
<!-- call to action -->
{{ if site.Data.homepage.premios.enable }}
{{ with site.Data.homepage.premios }}
<section class="section gray">
    <div class="container">
    <div class="row justify-content-around">
      <div class="row justify-content-md-center">
        <div class="col-2">
            <img  class="img-fluid rounded" src="http://localhost:1313/images/ceo.jpg ">
        </div>
        <div class="col-5 ml-2 justify-content-around">
          <h3 class="mt-0 letterRodri"> Desarrollamos soluciones de alta tecnología para la industria en general. Procurando mantener estándares de calidad y el cuidado del medio ambiente</h3>
          <p class="mt-1">  — <strong>Enrique Casares</strong> Casares , CEO</p>
      </div>
    </div>
    </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->