{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="su nombre">
          <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="email">
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Agrega un asunto">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="Escriba su mensaje"></textarea>
          <button type="submit" value="send" class="btn btn-primary">Enviar ahora</button>
        </form>
      </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2777.08548393202!2d-67.54735188442821!3d-45.889603379108344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbde5ab4627c7b7db%3A0x88b22713c3fd3a24!2sAntonio%20L%C3%B3pez%20Arias%20540%2C%20U9002HPX%20Comodoro%20Rivadavia%2C%20Chubut!5e0!3m2!1ses-419!2sar!4v1615905076955!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}